@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.animation-scroll {
    opacity: 0;
    transition: all ease 1s;
}

.animation-scroll {
    transform: translateY(-100%);
}

.animation-scroll.animate {
    animation: animation-components 1s ease forwards;
}

@keyframes animation-components {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}